* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}

.navbar {
    border-radius: 0px !important;
}

#mapid {
	height: 60vh;
	width:100%;
}

#recent-search-area, #recent-sightings-area {
	overflow: auto;
}
