* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}

body {
    background:#203a4a;
}

.card {
    background-color:#e6eef0;
    box-shadow:2px 2px 2px 2px black;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

.card-title {
    color: #203a4a;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.photo-buttons {
    align-items:center;
}

h3 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

h5 {
    font-family: 'Vollkorn', Georgia, Times, serif;
}

#mapid {
	height: 60vh;
	width:100%;
	margin-bottom: 15px;
}

tr:nth-child(n + 6) {
    display:none;
}

a, input, label[for], select, button, .pointer {
       cursor: pointer;
}

.quote{
    padding:10px 250px 10px 250px;
    font-size:24px;
    text-align:center;
}

.info{
    padding:10px 50px 10px 50px;
    font-size:16px;
 }

 .card-action {
    font-color:#265778;
 }

 #submit-sighting, #getLocation, .btn {
    background-color:#dd2c00;
    font-weight:bold;
 }

 a#submit, a#recent-sighting, a#fact-button, a#donate-button, a#volunteer-button, a#learn-button {
    color:#dd2c00;
    font-weight:bold;
 }