#mapid { 
	height: 50vh;
}

.container-fluid {
	margin-bottom: 50px;
}

#recent-search-area, #recent-sightings-area {
	overflow: auto;
}

#update {
  position: absolute;
  left: 10px;
  top: 10px;
}

svg {
	width: 100vw;
	height:500px;
}